.footer__copyright {
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin:0;
    color: #545454;
    font-family: 'Inter', Arial, sans-serif;
}
@media screen and (max-width : 767px) {
  .footer__copyright {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
}


