.profile__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    position: relative;
}
@media screen and (max-width : 767px) {
    .profile__container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;    
    }
 }