.popup__item {
    width: 358px;
    border: 0;
    border-bottom: 1px solid #000;
    margin: 0;
   padding-bottom: 13px;
   font-size: 0.9rem;
    line-height: 1.1rem;
    color: black;
    position: relative;
}
@media screen and (max-width: 767px) {
    .popup__item {
        max-width: 208px;
        font-size: 0.7rem;
    line-height: 1rem;
    }
}
